$dark-gray: #353535;

$theme-purple: #7B68FA;
$neon-pink-red: #fe013a;
$themered: #A71930;
$theme-yellow: #feca57;
$themeblue: #273c75;
$themegray :#2f3640;
$themepurple: #6F1E51;

$bright-green: #5CDB95;
$dark-periwinkle: #f39c12;

// Primary
$color-primary: darken($neon-pink-red,0%);
$color-secondary-green: #46B041;